EIO:CFG_1.0:5:60::
#
EIO_BUS:

      -Name "Virtual1" -ConnectorID "SIM1"

      -Name "DeviceNet1" -BusType "DNET" -ConnectorID "PCI1"\
      -ConnectorLabel "First DeviceNet"

      -Name "Profibus_FA1" -BusType "PBUS" -ConnectorID "FA1"\
      -ConnectorLabel "PROFIBUS-DP Fieldbus Adapter"
#
EIO_UNIT_TYPE:

      -Name "Virtual" -VendorName "ABB" -ProductName "Virtual unit"

      -Name "DN_GENERIC" -BusType "DNET" -DN_VendorId 0 -DN_ExplicitMsgEnabled \
      -DN_C1OutputSize -1 -DN_C1InputSize -1

      -Name "DN_GENERIC_COS" -BusType "DNET" -DN_VendorId 0\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize -1\
      -DN_C1InputSize -1

      -Name "d651" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Combi Unit" -DN_ProductCode 25 -DN_DeviceType 100\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize 5\
      -DN_C1InputSize 1

      -Name "d652" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "24 VDC Unit" -DN_ProductCode 26 -DN_DeviceType 7\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize 2\
      -DN_C1InputSize 2

      -Name "d653" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Relay Unit" -DN_ProductCode 27 -DN_DeviceType 7\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize 1\
      -DN_C1InputSize 1

      -Name "DN_SLAVE" -BusType "DNET" -VendorName "ABB Robotics" -DN_VendorId 8\
      -DN_ProductCode 12 -DN_DeviceType 12 -DN_ExplicitMsgEnabled \
      -DN_C1Interval 50 -DN_C1OutputSize 8 -DN_C1InputSize 8

      -Name "DN_INTERNAL_SLAVE" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Internal DeviceNet Slave" -InternalSlave  -DN_C1OutputSize 8\
      -DN_C1InputSize 8

      -Name "DN_SLAVE_COS" -BusType "DNET" -VendorName "ABB Robotics"\
      -DN_VendorId 8 -DN_ProductCode 12 -DN_DeviceType 12\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize 8\
      -DN_C1InputSize 8

      -Name "DN_INTERNAL_SLAVE_COS" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Internal DeviceNet Slave (COS)" -InternalSlave \
      -DN_C1Type "COS" -DN_C1OutputSize 8 -DN_C1InputSize 8

      -Name "d351B" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "IBS Adapter" -DN_ProductCode 7 -DN_DeviceType 7\
      -DN_MajorRev 1 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
      -DN_C1OutputSize -1 -DN_C1InputSize -1

      -Name "d378A" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "CCLink Adapter" -DN_ProductCode 17 -DN_DeviceType 7\
      -DN_MajorRev 1 -DN_ExplicitMsgEnabled  -DN_C1Interval 50\
      -DN_C1OutputSize -1 -DN_C1InputSize -1

      -Name "AC500_PLC" -BusType "DNET" -VendorName "ABB Stotz"\
      -ProductName "AC500 PLC - FPB" -DN_VendorId 760 -DN_ProductCode 1\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize -1\
      -DN_C1InputSize -1

      -Name "DN_SLAVE_FA" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "DeviceNet Fieldbus Adapter Slave" -DN_ProductCode 98\
      -DN_DeviceType 12 -DN_MajorRev 2 -DN_MinorRev 1 -DN_ExplicitMsgEnabled \
      -DN_C1Type "COS" -DN_C1OutputSize 8 -DN_C1InputSize 8

      -Name "DP_INTERNAL_SLAVE_FA" -BusType "PBUS" -VendorName "ABB Robotics"\
      -ProductName "PROFIBUS-DP Fieldbus Adapter Slave" -InternalSlave \
      -PB_ProductId 6161 -PB_InputSize 18 -PB_OutputSize 10
#
EIO_UNIT:

      -Name "DP7" -UnitType "DP_INTERNAL_SLAVE_FA" -Bus "Profibus_FA1"\
      -PB_Address 3
#
EIO_SIGNAL:

      -Name "Di0_StartMain" -SignalType "DI" -Unit "DP7" -UnitMap "0"\
      -Access "Default"

      -Name "Di1_CycleStart" -SignalType "DI" -Unit "DP7" -UnitMap "1"\
      -Access "Default"

      -Name "Di2_EstopReset" -SignalType "DI" -Unit "DP7" -UnitMap "2"\
      -Access "Default"

      -Name "Di3_Stop" -SignalType "DI" -Unit "DP7" -UnitMap "3"\
      -Access "Default"

      -Name "Di4_ErrReset" -SignalType "DI" -Unit "DP7" -UnitMap "4"\
      -Access "Default"

      -Name "Di5_MotoOn" -SignalType "DI" -Unit "DP7" -UnitMap "5"\
      -Access "Default"

      -Name "Di6_MotoOff" -SignalType "DI" -Unit "DP7" -UnitMap "6"\
      -Access "Default"

      -Name "Di7_" -SignalType "DI" -Unit "DP7" -UnitMap "7" -Access "Default"

      -Name "Di8_" -SignalType "DI" -Unit "DP7" -UnitMap "8" -Access "Default"

      -Name "Di9_SuckSenser1" -SignalType "DI" -Unit "DP7" -UnitMap "9"\
      -Access "Default"

      -Name "Di10_SuckSenser2" -SignalType "DI" -Unit "DP7" -UnitMap "10"\
      -Access "Default"

      -Name "SuckSenserGi" -SignalType "GI" -Unit "DP7" -UnitMap "19-20"\
      -Access "Default"

      -Name "Di11_" -SignalType "DI" -Unit "DP7" -UnitMap "11" -Access "Default"

      -Name "Di12_" -SignalType "DI" -Unit "DP7" -UnitMap "12" -Access "Default"

      -Name "Di13_LineAReadyPluse" -SignalType "DI" -Unit "DP7" -UnitMap "13"\
      -Access "Default"

      -Name "Di14_LineBReadyPluse" -SignalType "DI" -Unit "DP7" -UnitMap "14"\
      -Access "Default"

      -Name "Di15_LineCReadyPluse" -SignalType "DI" -Unit "DP7" -UnitMap "15"\
      -Access "Default"

      -Name "Di16_LineAReady" -SignalType "DI" -Unit "DP7" -UnitMap "16"\
      -Access "Default"

      -Name "Di17_LineBReady" -SignalType "DI" -Unit "DP7" -UnitMap "17"\
      -Access "Default"

      -Name "Di18_LineCReady" -SignalType "DI" -Unit "DP7" -UnitMap "18"\
      -Access "Default"

      -Name "Di19_SuckSenser1" -SignalType "DI" -Unit "DP7" -UnitMap "19"\
      -Access "Default"

      -Name "Di20_SuckSenser2" -SignalType "DI" -Unit "DP7" -UnitMap "20"\
      -Access "Default"

      -Name "Di21_FvSenser1" -SignalType "DI" -Unit "DP7" -UnitMap "21"\
      -Access "Default"

      -Name "Di22_FvSenser2" -SignalType "DI" -Unit "DP7" -UnitMap "22"\
      -Access "Default"

      -Name "Di23_AllowCatchBox" -SignalType "DI" -Unit "DP7" -UnitMap "23"\
      -Access "Default"

      -Name "Di24_BoxNg" -SignalType "DI" -Unit "DP7" -UnitMap "24"\
      -Access "Default"

      -Name "Di25_SuckA" -SignalType "DI" -Unit "DP7" -UnitMap "25"\
      -Access "Default"

      -Name "Di26_SuckB" -SignalType "DI" -Unit "DP7" -UnitMap "26"\
      -Access "Default"

      -Name "Di32_Acount_Change" -SignalType "DI" -Unit "DP7" -UnitMap "32"\
      -Access "Default"

      -Name "Di33_Bcount_Change" -SignalType "DI" -Unit "DP7" -UnitMap "33"\
      -Access "Default"

      -Name "Di34_Ccount_Change" -SignalType "DI" -Unit "DP7" -UnitMap "34"\
      -Access "Default"

      -Name "Di35_Acount_Over" -SignalType "DI" -Unit "DP7" -UnitMap "35"\
      -Access "Default"

      -Name "Di36_Bcount_Over" -SignalType "DI" -Unit "DP7" -UnitMap "36"\
      -Access "Default"

      -Name "Di37_Ccount_Over" -SignalType "DI" -Unit "DP7" -UnitMap "37"\
      -Access "Default"

      -Name "Suck_Gi" -SignalType "GI" -Unit "DP7" -UnitMap "25-26"\
      -Access "Default"

      -Name "PalletTypeNo_Gi" -SignalType "GI" -Unit "DP7" -UnitMap "80-87"\
      -Access "Default"

      -Name "PalletLineNo_Gi" -SignalType "GI" -Unit "DP7" -UnitMap "88-95"\
      -Access "Default"

      -Name "AcountChang_Gi" -SignalType "GI" -Unit "DP7" -UnitMap "96-103"\
      -Access "Default"

      -Name "BcountChang_Gi" -SignalType "GI" -Unit "DP7" -UnitMap "104-111"\
      -Access "Default"

      -Name "CcountChang_Gi" -SignalType "GI" -Unit "DP7" -UnitMap "112-119"\
      -Access "Default"

      -Name "AcountOver_Gi" -SignalType "GI" -Unit "DP7" -UnitMap "120-127"\
      -Access "Default"

      -Name "BcountOver_Gi" -SignalType "GI" -Unit "DP7" -UnitMap "128-135"\
      -Access "Default"

      -Name "CcountOver_Gi" -SignalType "GI" -Unit "DP7" -UnitMap "136-143"\
      -Access "Default"

      -Name "Do0_HomePos0" -SignalType "DO" -Unit "DP7" -UnitMap "0"\
      -Access "ReadOnly"

      -Name "Do1_CatchAreaPos1" -SignalType "DO" -Unit "DP7" -UnitMap "1"\
      -Access "ReadOnly"

      -Name "Do2_AreaPos2" -SignalType "DO" -Unit "DP7" -UnitMap "2"\
      -Access "ReadOnly"

      -Name "Do3_Line1AreaPos3" -SignalType "DO" -Unit "DP7" -UnitMap "3"\
      -Access "ReadOnly"

      -Name "Do4_Line2AreaPos4" -SignalType "DO" -Unit "DP7" -UnitMap "4"\
      -Access "ReadOnly"

      -Name "Do5_Line3AreaPos5" -SignalType "DO" -Unit "DP7" -UnitMap "5"\
      -Access "ReadOnly"

      -Name "Do6_" -SignalType "DO" -Unit "DP7" -UnitMap "6" -Access "Default"

      -Name "Do7_" -SignalType "DO" -Unit "DP7" -UnitMap "7" -Access "Default"

      -Name "Do8_Error" -SignalType "DO" -Unit "DP7" -UnitMap "8"\
      -Access "ReadOnly"

      -Name "Do9_CycleOn" -SignalType "DO" -Unit "DP7" -UnitMap "9"\
      -Access "ReadOnly"

      -Name "Do10_MotoOn" -SignalType "DO" -Unit "DP7" -UnitMap "10"\
      -Access "ReadOnly"

      -Name "Do11_InAuto" -SignalType "DO" -Unit "DP7" -UnitMap "11"\
      -Access "ReadOnly"

      -Name "Do12_Estop" -SignalType "DO" -Unit "DP7" -UnitMap "12"\
      -Access "ReadOnly"

      -Name "Do13" -SignalType "DO" -Unit "DP7" -UnitMap "13" -Access "Default"

      -Name "Do14" -SignalType "DO" -Unit "DP7" -UnitMap "14" -Access "Default"

      -Name "Do15" -SignalType "DO" -Unit "DP7" -UnitMap "15" -Access "Default"

      -Name "Do16_Line1CountFull" -SignalType "DO" -Unit "DP7" -UnitMap "16"\
      -Access "Default"

      -Name "Do17_Line2CountFull" -SignalType "DO" -Unit "DP7" -UnitMap "17"\
      -Access "Default"

      -Name "Do18_Line3CountFull" -SignalType "DO" -Unit "DP7" -UnitMap "18"\
      -Access "Default"

      -Name "Do19_CatchSuck1" -SignalType "DO" -Unit "DP7" -UnitMap "19"\
      -Access "Default"

      -Name "Do20_CatchSuck2" -SignalType "DO" -Unit "DP7" -UnitMap "20"\
      -Access "Default"

      -Name "CatchSuckNo_Go" -SignalType "GO" -Unit "DP7" -UnitMap "19-20"\
      -Access "Default"

      -Name "Do21_FVAcmd" -SignalType "DO" -Unit "DP7" -UnitMap "21"\
      -Access "Default"

      -Name "Do22_FVBcmd" -SignalType "DO" -Unit "DP7" -UnitMap "22"\
      -Access "Default"

      -Name "Do23_TurnOver" -SignalType "DO" -Unit "DP7" -UnitMap "23"\
      -Access "Default"

      -Name "Do24_PalletOver" -SignalType "DO" -Unit "DP7" -UnitMap "24"\
      -Access "Default"

      -Name "Do25_CatchOver" -SignalType "DO" -Unit "DP7" -UnitMap "25"\
      -Access "Default"

      -Name "Do26_BoxNgErr" -SignalType "DO" -Unit "DP7" -UnitMap "26"\
      -Access "Default"

      -Name "Do27_Acount_ChangeOK" -SignalType "DO" -Unit "DP7" -UnitMap "27"\
      -Access "Default"

      -Name "Do28_Bcount_ChangeOK" -SignalType "DO" -Unit "DP7" -UnitMap "28"\
      -Access "Default"

      -Name "Do29_Ccount_ChangeOK" -SignalType "DO" -Unit "DP7" -UnitMap "29"\
      -Access "Default"

      -Name "LineA_Count_GO" -SignalType "GO" -Unit "DP7" -UnitMap "56-63"\
      -Access "Default"

      -Name "LineB_Count_GO" -SignalType "GO" -Unit "DP7" -UnitMap "64-71"\
      -Access "Default"

      -Name "LineC_Count_GO" -SignalType "GO" -Unit "DP7" -UnitMap "72-79"\
      -Access "Default"
#
EIO_COMMAND_TYPE:

      -Name "DataWidth" -UnitType "d351B" -DefValue "3" -OrderNr 1\
      -DN_Path "6,20 65 24 01 30 01,C6,1"

      -Name "D351Areset" -UnitType "d351B" -DefValue "0" -OrderNr 2\
      -DN_Path "4,20 01 24 01,C1,1" -DN_Service 5

      -Name "StationNo" -UnitType "d378A" -DefValue "1" -OrderNr 1\
      -DN_Path "6,20 68 24 01 30 01,C6,1"

      -Name "BaudRate" -UnitType "d378A" -DefValue "0" -OrderNr 2\
      -DN_Path "6,20 68 24 01 30 02,C6,1"

      -Name "OccStat" -UnitType "d378A" -DefValue "1" -OrderNr 3\
      -DN_Path "6,20 68 24 01 30 03,C6,1"

      -Name "BasicIO" -UnitType "d378A" -DefValue "0" -OrderNr 4\
      -DN_Path "6,20 68 24 01 30 04,C1,1"

      -Name "D378Areset" -UnitType "d378A" -DefValue "0" -OrderNr 5\
      -DN_Path "4,20 01 24 01,C1,1" -DN_Service 5
#
EIO_ACCESS:

      -Name "All" -Rapid  -LocalManual  -LocalAuto  -RemoteManual  -RemoteAuto 
#
SYSSIG_OUT:

      -Status "Error" -Signal "Do8_Error"

      -Status "CycleOn" -Signal "Do9_CycleOn"

      -Status "MotOnState" -Signal "Do10_MotoOn"

      -Status "AutoOn" -Signal "Do11_InAuto"

      -Status "EmStop" -Signal "DO12_Estop"
#
SYSSIG_IN:

      -Signal "Di0_StartMain" -Action "StartMain"

      -Signal "Di1_CycleStart" -Action "MotOnStart" -Arg1 "CONT"

      -Signal "Di2_EstopReset" -Action "ResetEstop"

      -Signal "Di3_Stop" -Action "Stop"

      -Signal "Di4_ErrReset" -Action "ResetError"

      -Signal "Di5_MotoOn" -Action "MotorOn"

      -Signal "Di6_MotoOff" -Action "MotorOff"
